// HOME
.description-title, .description-container h3 {
    text-align: center;
}

.description-container {
    margin-top: 5%;
    & .description-box {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}