// HEADER SCSS
header {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    & .header-div {
        width: 60%;
        height: 300px;
        background-color: $primary;
        padding: 30px;
        margin-right: -100px;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    & .header-img-div {
        width: 75%;
        & .header-img {
            object-fit: cover;
        }
    }
    & span {
        display: block;
    }
}
.g-2 {
    border-radius: 50px;
    min-height: 40px;
    box-shadow: -5px 11px 14px 3px $primary;
    height: 100px;
    width: 95%;
}
.rs-picker, .location-input-container {
    width: 100%;
    height: 100px;
}

.rs-picker-toggle {
    height: 60px;
}

.vl {
    border-left: 6px solid green;
    height: 5px;
}

.search-form {
    & input, .rs-picker-toggle  {
        border-right: 1px solid #E1E8F1;
        border-radius: 50px;
        min-height: 90%;
        display: flex;
    }
    & input:hover, .rs-picker input:hover {
        cursor: pointer;
        background-color: rgba(0, 13, 132, 0.4);
    }
    & input:hover, .rs-picker input:focus {
        cursor: pointer;
        background-color: rgba(0, 13, 132, 0.4);
    }
    & .submit-button {
        background-color: $primary;
        border-radius: 50%;
        width: 8%;
        margin: 15px;
    }
    & .form-control::placeholder, .rs-picker-toggle-placeholder, .rs-picker-toggle-value, .col-md input {
        font-size: 1.3rem;
        color: black;
        text-align: center;
    }
}

.auto-complete {
    z-index: 0;
    position: absolute;
    background-color: white;
    padding: 10px;
    & button {
        background-color: white;
        width: 100%;
    }
    & button:hover{
        background-color: wheat;
    }
    & button:focus{
        background-color: wheat;
    }
}
