// NEWSLETTER SCSS
.newsletter-section {
    margin-top: 10%;
    margin-bottom: 10%;
    & .results-container{
        position: relative;
        & .currency-dropdown button{
            position: absolute;
            right: 0;
        }
    }
    & .newsletter-image {
        margin-left: 10px;
    }
    & .link-box {
        display: flex;
        margin-top: 5px;
        align-items: first baseline;
    }
    & .link-box-2 {
        background-color: #FFE1E1;
    }
    & .newsletter-form {
        margin-top: 40px;
        & input,
        .rs-picker-toggle {
            border-right: 1px solid #E1E8F1;
            border-radius: 50px;
            min-height: 90%;
        }
        & input:hover,
        .rs-picker input:hover {
            cursor: pointer;
            background-color: gray;
        }
        & .newsletter-submit-button {
            background-color: $primary;
            border-radius: 50%;
            width: 15%;
        }
    }
}

// NEWSLETTER MEDIA QUERIES 

@media (max-width: 1050px) {
    .newsletter-section {
        & .newsletter-form {
            & .col-md {
                width: 80%;
            }
        & .newsletter-submit-button {
            width: 20%;
            height: 90%;
            }
        }
    }
}

@media (max-width: 770px) {
    .newsletter-section {
        & .row {
            display: flex;
            flex-direction: column;
        }
        & .form-control {
            height: 90px;
        }
        & img {
            margin-top: 10%;
        }
    }
}