// RENTES SCSS
.renters-section {
    background-color: $secondary;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    & .cards-box {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        max-width: 100%;
        justify-content: center;
    }
    & .renters-title {
        text-align: center;
        margin-top: 5%;
    }
    & .renter-cards {
        margin: 10px;
        border-radius: 10px;
        & .prof-image {
            border-radius: 50px;
            margin-bottom: 5px;
            & .card-img {
                border-radius: 90px;
            }
        }
    }
    & .icon-box {
        display: flex;
        align-items: center;
        border-radius: 20px;
        width: 100px;
        background-color: red;
    }
}

// RENTER MEDIA QUERIES

@media (max-width: 750px) {
    .renters-section {
        & .cards-box {
            grid-template-columns: 50% 50%;
            margin-left: 10%;
            & .renter-cards {
                margin: 0;
            }
        }
    }
}

@media (max-width: 400px) {
    .renters-section {
        & .cards-box {
            grid-template-columns: 100%;
            margin-left: 25%;
        }
    }
}