// RESULTS SCSS
.results-section {
    margin-top: 5%;
    & .results-container {
        position: relative;
    }
    & .results-header-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .results-features {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: turquoise;
        padding: 25px;
        border-radius: 50px;
        position: sticky;
        top: 20px;
        & .amenities-form {
            margin-top: 10px;
        }
        & .dates, .currency-dropdown {
            background-color: wheat; 
            padding: 15px;
            border-radius: 10px;
        }
        & .currency-dropdown {
            position: absolute;
            right: 0;
            & #dropdown-basic {
                background-color: $primary;
            }
        }
        & .dropdown-item  {
            text-align: center;
        }
    }
}


.results-box {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    border: none;
    & .results-card {
        display: flex;
        padding: 10px;
        border: 2px solid rgba(93, 98, 111, 0.5);
        border-radius: 20px;
        & .feature-box {
            text-align: center;
        }
        & .results-image  {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin: 0 auto;
            & img {
                height: auto;
                max-width: 100%;
            }
        }
        & .result-features {
            display: flex;
            align-items: baseline;
            justify-content: start;
            & svg {
                margin-right: 5px;
            }
            & .feature-box-2 {
                margin-left: 10px;
            }
        }
        & .result-total-box {
            border: 2px solid #1A7066 ;
            border-radius: 10px;
            text-align: center;
            padding: 2px;
        }
        & .reviews {
            display: flex;
            align-items: baseline;
        }
        & .results-info {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            & p {
                font-size: 0.8rem;
            }
            & svg, h5 {
                margin-right: 5px;
            }
        }
    }
}

// RESULTS HOVER
.results-card:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 15px #48abe0;
}
.results-card:focus {
    cursor: pointer;
    box-shadow: 0 0 50px 15px #48abe0;
}

.results-card:active {
    transform: scale(0.9);
    box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}

// RESULTS MEDIA QUERIES
@media (max-width: 990px) { 
    .results-section {
        margin-top: 5%;
        & .results-box {
            grid-template-columns: 100%; 
        }
    }
}

@media (max-width: 480px) {
    .results-card {
        flex-direction: column !important;
        align-items: center;
    }
}